<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "CV Maker", root_path, class: "navbar-brand" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <% if current_user&.resume&.persisted? %>
            <li class="nav-item">
              <%= link_to "My Resume", user_resume_path(current_user, current_user.resume), class: "nav-link" if current_user.resume %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "New Resume", new_user_resume_path(current_user), class: "nav-link" unless current_user.resume %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= button_to "Logout", destroy_user_session_path, method: :delete, form: { class: "d-inline" }, class: "nav-link btn btn-link p-0" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
