<%=form_with(model: [current_user, resume], local: true) do |f|%>
<% if resume.errors.any? %>
<div class="error-messages">
  <h2><%= pluralize(resume.errors.count) %> prohibited this errors from being saved.</h2>
  <ul>
    <% resumes.errors.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_area :bio %>
  </div>

  <h3>Projects</h3>
  <div data-controller="nested-form">
    <div data-nested-form-target="container">
      <%= f.fields_for :projects do |p| %>
        <%= render "project_fields", f: p %>
      <% end %>
    </div>

    <!-- Hidden template to clone -->
    <template data-nested-form-target="template">
      <%= f.fields_for :projects, Project.new, child_index: "NEW_RECORD" do |p| %>
        <%= render "project_fields", f: p %>
      <% end %>
    </template>
    

    <!-- Add Project button -->
    <a href="#" data-action="click->nested-form#add">+ Add Project</a>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
